/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
body {
  font-family: Futura;
}
.menulogo {
  padding-top: 41px;
}
.menulogo img {
  width: 170px !important;
}
.headerMain {
  display: flex;
  flex-direction: row;
  height: 90px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0px 5%;
}
.innerHeader {
  max-width: 1660px;
  margin: 0 auto;
}
.headerMain .navigation {
  background: #fff;
  font-weight: 400;
  height: inherit;
  left: auto;
  overflow: inherit;
  padding: 4px 0px 0px 0px;
  position: relative;
  top: 11px;
  width: 100%;
  z-index: 3;
  font-size: 21px;
}

.headerMain .navigation .submenu {
  min-width: 160px !important;
  font-size: 20px;
}

.hBox {
  flex: 1;
}

.menuBoxSide {
  text-align: right;
}
.menuBoxSide a img {
  height: 20px !important;
  padding-top: 45px;
}
.menuBoxSide a {
  cursor: pointer;
}
.saleBox {
  width: 44px;
  height: 29px;
  font-family: Futura;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffb000;
}
.menuBoxSide a:hover {
  text-decoration: none;
  cursor: pointer;
}

.menuBox {
  flex: 3;
  padding-top: 39px;
}

.menuIcons {
  text-align: right;
}
.menuIcons img {
  padding-top: 41px;
  height: 24px;
}
.menuIcons a {
  text-decoration: none;
  cursor: pointer;
  margin-left: 15%;
}
.miMenu img {
  height: 18px;
}
.miSearch img {
  height: 20px;
}
.miSearchBox{
    height: 70px;
    position: relative;
    display: none;
    margin: auto;
}
.miSearchBox #search_mini_form{
  width: 63%;
    margin: auto;
    margin-top: 10px;
}
.miSearchBox input{
  border: none;
    border-bottom: 2px solid;
    font-size: 30px;
    height: 40px;
    padding: 25px 10px;
}

.miSearchBox input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1;
}
.miSearchBox input:focus{
      box-shadow: none;
}
/* Css for menu */
.customNavigation ul {
  display: flex;
  justify-content: space-around;
}

.customNavigation ul li,
.customNavigation ul li:hover {
  text-decoration: none;
  cursor: pointer;
}

.customNavigation ul li a {
  width: 36px;
  height: 29px;
  font-family: Futura;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-decoration: none;
}

.header.content,
.sections.nav-sections {
  display: none;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.pageTitle {
  width: auto;
  height: auto;
  font-family: Futura;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 38px;
}

.pageSubTitle {
  width: auto;
  height: auto;
  font-family: Futura;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(74, 74, 74, 0.7);
  margin-bottom: 30px;
}
.conCenter {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}
/* Home page grid 1 - START  */

.wrapperGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(200px, auto);
  width: 100%;
}

.box1 {
  grid-column: 1/3;
  grid-row: 1/3;
  background: url("./../images/gridhome1/GetStarted.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.box2 {
  grid-row: 1/2;
  background: url("./../images/gridhome1/Participate.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box3 {
  grid-row: 3/5;
  background: url("./../images/gridhome1/Shop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box4 {
  background: url("./../images/gridhome1/Teaware.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box5 {
  grid-row: 2/4;
  background: url("./../images/gridhome1/Sourcing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box6 {
  grid-column: 2/4;
  background: url("./../images/gridhome1/Wholesale.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.box {
  padding-left: 21px;
  padding-top: 20px;
}
.box p {
  width: auto;
  height: 41px;
  font-family: Futura;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.rotatedBox {
  font-size: 42px !important;
  transform: rotate(90deg);
  position: absolute;
  top: 44%;
  left: -88px;
}
.dividerTeaFloor{
    background: url('./../images/gridhome1/Divider.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 260px;
    text-align: center;
    margin: auto;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Home page grid 1 - END  */

/* home page Filter */

#portfolio {
    margin: 1rem 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}

.scale-anm {
    transform: scale(1);
}



.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;

}

.catBoxTop {
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    width: auto;
    height: 19px;
    font-family: Futura;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    border: none;
    background: none;
    box-shadow: none !important;
}

.btn:hover {
    text-decoration: none;
    color: #ffb000;
    border: none;
    background: none;
    box-shadow: none !important;
}

.btn:focus {
    outline: none;
    color: #ffb000;
    border: none;
    background: none;
    box-shadow: none !important;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* home page filter end */

/* Home page bottom grid*/

.listWrapper{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(200px, auto);
    width: 100%;
}
.listBox img{
    height: 100%;
    width: 100%;
}
.listBox1{
    grid-column: 1/4;
    grid-row: 1/2;
}
.listBox2{
    grid-column: 4/8;
    grid-row: 1/2;
}
.listBox3{
    grid-column: 8/11;
    grid-row: 1/2;
}
.listBox4{
    grid-column: 11/13;
    grid-row: 1/2;
}
.listBox5{
    grid-column: 1/3;
    grid-row: 2/3;
}
.listBox6{
    grid-column: 3/7;
    grid-row: 2/3;
}
.listBox7{
    grid-column: 7/10;
    grid-row: 2/3;
}
.listBox8{
    grid-column: 10/13;
    grid-row: 2/3;
}

/* Home page bottom grid END */
.page-footer{
    background: none !important;
}
.footerBox1, .footerBox2{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    margin: 40px 0 50px 0;
}
.footerBox3{
    margin: 50px 100px;
}
.footerBox3 h5{
    color: #4a4a4a;
}
.footerBox3 p{
    color: #999999;
}
.footerHR{
    margin: 0 20px 0 20px;
}
.fbTitle{
    font-family: Futura;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 1.4px;
    color: #333333;
    margin: 0px;
    position: relative;
}
.fbTitle span{
    position: absolute;
    margin: 6px 0px 0px 20px;
}
.fbTop ul{
    margin: 0px;
    list-style: none;
    padding: 0px;
    margin-top: 30px;
}
.fbTop ul li a{
    font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 1.4px;
  color: #999999;
  text-decoration: none;
}
.fbTop ul li a:hover{
  color: #f5b033;
}
.socialFooter{
    display: flex;
    justify-content: space-around;
}
.fbMid p{
    font-family: Futura;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 0.1px;
    color: #999999;
    text-transform: capitalize;
}
.fbm4{
    margin-top: 13px;
}
.contactBtn, .contactBtn:hover{
    background-color: #ffc824;
    padding: 13px 33px;
    color: #333333 !important;;
    text-decoration: none;
   
}
/* Product page */
.btnIncDec{
  border-radius: 0;
    border: none;
    font-size: 27px;
    padding: 2px 15px;
    width: 40px;
    height: 40px;
}
.action.primary.tocart{
  width: 90% !important;
  height: 40px;
  background-color: #ffb000;
  margin: auto;
  margin-bottom: 0px !important;
  padding: 0px !important;
  margin-top: 29px;
  margin-left: 20px !important;
  border: none;
    border-radius: 0px;
}
.cFlex{
  display: flex !important;
}
.control input{
  border: none;
}
.additional-attributes th{
flex: 1;
font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #000000;
}
.additional-attributes td{
  flex: 2;
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: justify;
  color: #666666;
  }
.product-options-bottom, .box-tocart > .fieldset {
  display: flex;
}
.product-options-bottom > .box-tocart, .fieldset > .actions{
  flex:2;
  
}
.product-options-bottom >.towishlist, .field.qty{
  flex:1;
}
.product-options-bottom >.towishlist{
  text-align: -webkit-center;
    border-bottom: 3px solid #000;
    height: 28px;
    padding-top: 12px;
    text-transform: uppercase;
    margin: 46px 0px 0px 20px;
    color: #000;
}
.product.data.items{
  text-align: -webkit-center;
}
#product-attribute-specs-table tr:last-child{
  border-bottom: 1px solid #ccc;
}
.product.attribute.description{
  text-align: -webkit-center;
}
.product.attribute.description  table{
  width: 800px;
}

.productGrid{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}
.innerProductWrapper:nth-child(odd) {
  display: flex;
}
.innerProductWrapper:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.innerProductWrapper:nth-child(odd) .innerProductTitle{
  text-align: left;
}
.innerProductWrapper:nth-child(odd) .innerProductTitle h4{
  font-family: Futura;
  font-size: 28px;
  font-weight: 500;
  color: #030303;
  padding-left: 30px;
}
.innerProductWrapper:nth-child(odd) .innerProductTitle p{
  font-family: Futura;
  font-size: 18px;
  font-weight: 500;
  color: #4a4a4a;
  padding-left: 30px;
}

.innerProductWrapper:nth-child(even) .innerProductTitle{
  text-align: right;
}
.innerProductWrapper:nth-child(even) .innerProductTitle h4{
  font-family: Futura;
  font-size: 28px;
  font-weight: 500;
  color: #030303;
  padding-right: 30px;
}
.innerProductWrapper:nth-child(even) .innerProductTitle p{
  font-family: Futura;
  font-size: 18px;
  font-weight: 500;
  color: #4a4a4a;
  padding-right: 30px;
}
.innerProductImg, .innerProductTitle {
  flex-basis: 50%;
}

.product.attribute.overview{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: justify;
  color: #666666;
}
.shareProd{
    margin-top: 25px;
    padding-left: 130px;
    font-family: ProximaNova;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    text-align: justify;
    color: #666666;
}

span.shareProd-1 a {
  margin-left: 22px;
  text-decoration: none;
  text-align: center;
  color: #666666;
}
.prodBenefits{
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}
.prodBenefitsCon{
  margin-top: 10px;
  padding: 0 4px;
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: justify;
  color: #666666;
}
.prodBenefits1, .prodBenefits2{
  font-family: Futura;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  color: #000000;
}

.productFoot{
  display: flex;
  width: 80%;
}
.productFootInner{
  flex:1;
}
.productFootInner:nth-child(2){
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
}
.productFootInner h5{
  font-family: Futura;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.44;
  color: #333333;
}
.productFootInner p{
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.88;
  color: #666666;
}
#product-review-container .block-title, #tab-label-reviews-title {
  display: none;
}
.product.data.items #reviews{
  background: #fcfcfc;
  margin: 0px;
  padding: 0 100px 0 100px;
}
.product-reviews-summary{
  display: flex;
  justify-content: space-between;
}
.product-reviews-summary.empty{
  display: flex;
  justify-content: space-around;
}
.wrAriview , .action.submit.primary, .action.tocart.primary {
  background: #ffb000 !important;
  padding: 10px 25px !important;
  font-family: Futura !important;
  font-size: 16px !important;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25 !important;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff !important;
  text-decoration: none !important;
  border-radius: 0;
  border: none !important;
}
.reviewSpan {
  font-family: Futura;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.08;
  letter-spacing: normal;
  color: #666666;
}
.alignLeft{
  float: left;
}
.text-align-left{
  text-align: left;
}
.hidden{
  display: none !important;
}
.vhidden{
  visibility: hidden !important;
}
.review-ratings{
  max-width: 100%;
  text-align: left;
}
.review-details-label{
  position: initial !important;
  width: auto;
}
.rating-summary.item{
  text-align: left;
}
.field.review-field-nickname{
  width: 49%;
    float: left;
}
.field.review-field-summary{
  width: 49%;
    float: left;
    margin-left: 2%;
}
.fieldset.review-fieldset{
  margin: 40px 0 40px 0;
}
.review-form input{
  border: 1px solid #dde3e8;
  height: 54px;
}
.review-form label{
  font-family: Futura;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #788995;
}
.textYellow{
  font-size: 22px;
  line-height: 1.36;
  color: #ffb000;
}
.catBanner img{
  width: 100%;
}
.catalog-category-view .breadcrumbs{
  display: none;
}
.catBreadcrumbs .breadcrumbs{
  display: block;
  padding: 0px;
}
#algolia-right-container #instant-search-bar-container {
  display: none;
}
#algolia_instant_selector .result{
  border: none  !important;
}
#algolia_instant_selector .rating-summary{
  width: 100%;
}
#algolia_instant_selector .result .result-thumbnail img {

  height: 200px !important;

}
.rating-summary .rating-result>span:before{
  color: #35cc62;
}
.price-wrapper{
  padding-top: 6px;
}
.price-wrapper .after_special{
  color:#4a4a4a;
}
#algolia_instant_selector .facet {
  border: none !important;
}
#algolia_instant_selector .facet .name {
  padding: 4px 8px;
  font-weight: 500;
  background-color: #f4f4f400 !important;
  color: #000000 !important;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px !important;
}
#algolia_instant_selector .hits .infos {
  background: #f4f4f400 !important;
}
.productGridCol{
  display: flex;
  flex-wrap: wrap;
}
.boxItem{
  margin: 20px;
  flex-basis: 30%;
}
.boxItemTitle {
  font-family: Futura;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.boxItemGram {
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.instagramImageGallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.instaAnchor{
  margin: 10px;
  flex-basis: 21%;
}
.instaImg{
  height: 250px;
  max-width: 100%;
}
.opc-progress-bar-item {
  width: 265px !important;
}
.opc-progress-bar-item:first-child:before, .opc-progress-bar-item:last-child:before {
  border-radius: 0px 0px 0px 0px !important;
}
.opc-progress-bar-item._active:before {
  background: #f9c833 !important;
  border-color: #f9c833 !important;
  content: '' !important;
}
.opc-progress-bar-item._active>span:after {
  border-color: #f9c833 !important;
  content: '' !important;
  font-family: 'luma-icons';
}
.opc-progress-bar-item:before {
  background: #e8e0ce !important;
  border: none !important;
  top: 13px !important;
  transition: background .3s !important;
  content: '' !important;
  height: 40px !important;
  left: 0 !important;
  position: absolute !important;
  width: 100% !important;
  z-index: 9 !important;
}
.opc-progress-bar-item>span {
  display: inline-block !important;
  padding-top: 19px !important;
  width: 100% !important;
  word-wrap: break-word !important;
  color: #666 !important;
  font-weight: 300 !important;
  font-size: 1.8rem !important;
  z-index: 99 !important;
  position: relative !important;
}
.opc-progress-bar-item>span:before, .opc-progress-bar-item>span:after {
  background: #e4e4e4;
  border: none !important;
  height: 0px !important;
  margin-left: -19px;
  transition: background .3s;
  width: 0px !important;
  border-radius: 50%;
  content: '' !important;
  left: 50%;
  position: absolute;
  top: 0;
}
.opc-progress-bar-item>span:after {
  background: #fff;
  height: 0px !important;
  margin-left: -13px;
  top: 6px;
  width: 0px !important;
  content: '' !important;
  counter-increment: i;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
}
.modal-inner-wrap .modal-content{
  margin-top: -96.5px;
}
.checkout-shipping-address form .input-text , .checkout-shipping-address form select {
  height: 54px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #dde3e8;
}
.action.login.primary{
  height: 32px;
  border-radius: 3px;
  background-color: #ffb000;
  box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
  border: none;
}
.opc-wrapper .form-login.chckoutLoginForm{
  max-width:100% !important;
}
.field .control._with-tooltip input {
  margin-right: 10px;
  width:100%;
}
.field-tooltip{
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
}
.fieldset.hidden-fields .actions-toolbar {
  text-align: right;
}

#shipping #co-shipping-form{
  max-width:100% !important;
}
#shipping #co-shipping-form #shipping-new-address-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#shipping #co-shipping-form #shipping-new-address-form div{
  flex-basis: 49%;
}
#shipping fieldset.field.street.admin__control-fields.required{
  flex-basis: 100% !important;
  display: flex;
}
#shipping fieldset.field.street.admin__control-fields.required .field .field-error{
  flex-basis: 100%;
    position: absolute;
    margin-top: 59px;
}
#shipping #co-shipping-form #shipping-new-address-form .field.street .control{
  display: flex;
  justify-content: space-between;
}
#shipping #co-shipping-form #shipping-new-address-form .field.street .control .field{
  margin-top: 0px;
}
.nextBtn{
  height: 54px;
  border: 1px solid #ffb000 !important;
  border-radius: 3px;
  background-color: #ffb000 !important;
  box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);

}



/* Responsive  */
@media (min-width: 640px){
  .review-form {
      max-width: 840px;
  }
}
@media screen and (max-width: 768px) {
  .menuBox,
  .menuBoxSide {
    display: none;
  }
  /* Home page grid 1 - START  */
  .wrapperGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        grid-auto-rows: minmax(200px, auto);
        width: 100%;
    }
  .box1 {
    grid-column: 1/3;
    grid-row: 1/3;
    background: url(./../images/gridhome1/GetStarted.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .box2 {
    grid-row: 5/6;
    background: url(./../images/gridhome1/Participate.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2/3;
  }
  
  .box3 {
    grid-row: 3/4;
    background: url(./../images/gridhome1/Shop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
  }
  
  .box4 {
    background: url(./../images/gridhome1/Teaware.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 5/6;
  }
  
  .box5 {
    background: url(./../images/gridhome1/Sourcing.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  
  .box6 {
    grid-column: 1/3;
    background: url(./../images/gridhome1/Wholesale.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-row: 4/5;
  }

  /* Home page grid 1 - END  */
.listBox1 {
    grid-column: 1/7;
    grid-row: 1/2;
}
.listBox2 {
    grid-column: 5/13;
    grid-row: 2/3;
}
.listBox3 {
    grid-column: 7/13;
    grid-row: 1/2;
}
.listBox4 {
    grid-column: 9/13;
    grid-row: 3/4;
}
.listBox5 {
    grid-column: 1/5;
    grid-row: 2/3;
}
.listBox6 {
    grid-column: 1/9;
    grid-row: 3/4;
}
.listBox7 {
    grid-column: 1/7;
    grid-row: 4/5;
}
.listBox8 {
    grid-column: 7/13;
    grid-row: 4/5;
}
.miSearchBox #search_mini_form{
  width: 90%;
}
.miSearchBox input{
  font-size: 20px;
}

}



